.message {
     position: relative;
     padding: 10px;
     margin-left: 15px;
     transition: 200ms;
     border-radius: 6px;
     padding-bottom: 15px;
     max-width: 1000px;
     
}

.message:hover {
     background-color: #2b2f35;
}

.message .dot {
     font-size: 0.2rem;
     height: 100%;
     display: inline-block;
     vertical-align: middle;
     margin-inline: 2ch;
}

.message .header {
     font-size: 0.75rem;
     left: 0;
}

.message .content {
     font-size: 1rem;
     margin-top: 10px;
}

