.list {
     display: flex;
     flex-direction: column-reverse;
     align-items: center;
     justify-content: start;
     gap: 10px;
     background-color: #232325;
     width: 80px;
     overflow: auto;
     height: 100vh;
     overflow-y: auto;
}

.list img {
     user-select: none;
     -webkit-user-drag: none;
     width: 50px;
     height: 50px;
     cursor: pointer;
     transition: 500ms;
     border-radius: 50%;
}

.list img:hover {
     border-radius: 35%;
}